body {
    background-color: #f8f9fa; 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .admin-panel {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: column;   
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 0px;
  }
  
  .admin-panel .form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 600px; 
  }
  
  .admin-panel h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem; 
  }
  
  .admin-panel .form-container h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .admin-panel label {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .admin-panel input {
    width: 100%;
    padding: 0.8rem;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .admin-panel button {
    width: 100%;
    padding: 1rem;
    background-color: #212a3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 0rem;
  }
  
  .admin-panel button:hover {
    background-color: #212a3c;
  }
  
  .admin-panel input:focus {
    outline: none;
    border-color: #212a3c;
  }
  
  .admin-panel input::placeholder {
    color: #aaa;
  }
  