.admin-panel {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  .form-container {
    flex: 1;
    max-width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #212a3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #212a3c;
  }
  

  .info-box {
    flex: 1;
    max-width: 45%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 30vh; 
    overflow: hidden; 
  }
  
  .info-box h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .info-box p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .info-box strong {
    font-weight: bold;
  }
  