@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('') no-repeat center center/cover;
  min-height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

a {
  text-decoration: none;
}

header {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .logo {
  color: #212a3c;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .nav-link {
  display: flex;
}

.container .nav-link li {
  list-style: none;
  margin: 0 0.5rem;
}

.container ul li a {
  color: #212a3c;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
}

.container ul li a:hover {
  background-color: #ecf0f1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.content h2 {
  font-size: 6rem;
  color: #fff;
  margin: 0;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; 
}

@media (max-width: 768px) {
  .content h2 {
    font-size: 3rem;
    text-align: center;
  }

  .icon {
    display: block; 
  }

  .container .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    width: 350px;
    height: 60vh;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .container .nav-link.active {
    height: 60vh; 
  }

  .container .nav-link li {
    margin: 1rem 0;
  }

  .container ul li a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .content h2 {
    font-size: 2.5rem;
  }
}